.form {
  max-width: 400px;
  margin: 0px auto;
    text-align: center;
  background: #111011;
  border-radius: 8px;
    
}

.buttonForm {
    height: 75px;
  color:#daa04f;
    background-color: #111011;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQIW2NkQAX/GZH4/xkYGBhhAmAOSBJEwDkgAQCCrgQEqRgDDwAAAABJRU5ErkJggg==) repeat;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1.5px solid #daa04f;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-top: 50%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    
    &:hover{
        background-color: #111011;
        color:#daa04f;
        border: 1.5px solid #daa04f;
        border-radius: 15px;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    &:focus
    {
        outline: none;
    }
}


@media (min-width: 480px) and (max-width: 600px) {

  form {
    max-width: 480px;
  }
    button
    {
        margin-top: 10%;
    }
}
